doctype
html(lang="en")
  head
    title Locate Me
  body
    if type == "write"
      p Location updated!
    else if type == "read"
      p Hello there
      p My location is #{location}
    else
      p ERROR